\App\Models\Category::create([
    'name' => 'Web Design',
    'slug' => 'web-design'
    ])



\App\Models\Post::create([
    'title' => 'Judul Keempat',
    'category_id' => 2,
    'slug' => 'judul-keempat',
    'excerpt' => 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, reiciendis!',
    'body' => '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aspernatur aliquid vitae, id nam maiores</p> <dolore>quae sit consequatur libero modi iusto amet magnam ea quisquam numquam eius ab voluptas dolor voluptatibus? Iste distinctio dolore rerum eum consectetur maiores eius omnis.</p>'
])