* {
  font-family: "Times New Roman", Times, serif;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  height: 100vh;
}

.screen-1 {
  background: #21344d;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 1em #e6e9f9;
  gap: 2em;
}
.screen-1 h2 {
  color: red;
  text-align: center;
  size: 12px;
  margin-top: -30px;
}

.screen-1 .logo {
  width: 150px;
  padding-bottom: 30px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  display: inline-block;
}

.screen-1 .email {
  background: #eee;
  box-shadow: 0 0 1em #eee;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: -3em;
  margin-bottom: 5px;
}

.screen-1 .email input {
  outline: none;
  background-color: #eee;
  border: none;
  border-bottom: 2px #21344d solid;
}
.screen-1 .email input::-moz-placeholder {
  color: black;
}
.screen-1 .email input:-ms-input-placeholder {
  color: black;
}
.screen-1 .email input::placeholder {
  color: black;
}
.screen-1 .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password {
  background: #eee;
  box-shadow: 0 0 1em #eee;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-bottom: 5px;
}
.screen-1 .password input {
  outline: none;
  background-color: #eee;
  border: none;
  border-bottom: 2px #21344d solid;
}
.screen-1 .password input::-moz-placeholder {
  color: black;
}
.screen-1 .password input:-ms-input-placeholder {
  color: black;
}
.screen-1 .password input::placeholder {
  color: black;
}
.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
  margin-right: -5em;
}
.screen-1 .login {
  padding: 1em;
  background: #fa673b;
  color: #eee;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  margin-top: 5px;
  width: 220px;
}
.screen-1 .login:hover {
  transform: scale(1.05);
  background: #ff5722;
}
.screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
}
.screen-1 .footer span {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: #ff5722;
}
